In [1]:
import pandas as pd
import numpy as np

In [4]:
use = ['Symbol', 'ContrshrProportion', 'IsRelatedTrading', 'ShareholderFirstProp',
       'ControlProportion', 'FamEntyp_1.0', 'FamEntyp_2.0', 'FamEntyp_3.0',
       'BoardCode_P3401', 'BoardCode_P3402', 'BoardCode_P3403', 'FamStyle_1',
       'FamStyle_2', 'ManGeneration_1.0', 'ManGeneration_2.0',
       'FamNameStatus_1', 'FamNameStatus_2', 'FamNameStatus_3',
       'FamNameStatus_4', 'FamNameStatus_5']
fam = pd.read_csv('data/family_firm_clean.csv', index_col=0, usecols=use)

In [5]:
fam.head()

,ContrshrProportion,IsRelatedTrading,ShareholderFirstProp,ControlProportion,FamEntyp_1.0,FamEntyp_2.0,FamEntyp_3.0,BoardCode_P3401,BoardCode_P3402,BoardCode_P3403,FamStyle_1,FamStyle_2,ManGeneration_1.0,ManGeneration_2.0,FamNameStatus_1,FamNameStatus_2,FamNameStatus_3,FamNameStatus_4,FamNameStatus_5
Symbol,,,,,,,,,,,,,,,,,,,
000004.SZ,29.87,1,28.43,29.87,1,0,0,1,0,0,0,1,1,0,1,1,1,1,1
000005.SZ,21.15,1,17.41,21.15,1,0,0,1,0,0,0,1,1,0,1,0,0,0,1
000007.SZ,19.18,1,13.53,20.82,0,0,1,1,0,0,0,1,0,0,1,1,0,1,1
000010.SZ,21.51,1,21.51,21.51,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1
000012.SZ,25.34,1,14.84,25.34,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1

In [6]:
unique, counts = np.unique(fam['IsRelatedTrading'], return_counts=True)
dict(zip(unique, counts))

{0: 21, 1: 2247}

In [7]:
pledge = pd.read_csv('data/pledge_clean.csv', index_col=0)
pledge['close_position_date'] = pd.to_datetime(pledge['close_position_date'])
pledge['pledge_date'] = pd.to_datetime(pledge['pledge_date'])

In [8]:
pledge.head()

,code,pledge_date,alarm_line,close_position_line,price_on_pledge,total_pledge_nb,total_share_ratio,total_stock_ratio,close_position_date,is_st
0,000034.SZ,2016-11-25,17.8048,15.5792,27.82,11223.00,72.5104,17.16,2018-06-19,0
1,000046.SZ,2016-02-02,5.9100,5.1700,9.23,277068.83,80.0800,53.32,2018-07-04,0
2,000046.SZ,2016-02-02,5.9100,5.1700,9.23,339517.71,97.5700,65.34,2018-07-04,0
3,000056.SZ,2018-06-12,6.3600,5.5700,9.94,24216.59,98.1700,20.60,2018-12-14,0
4,000056.SZ,2018-05-09,6.3900,5.5900,9.99,24117.47,97.7700,20.52,2018-12-06,0

In [9]:
test_merge = pledge.merge(fam, 
              how='left',
             left_on='code',
             right_on='Symbol')

In [10]:
test_merge.columns

Index(['code', 'pledge_date', 'alarm_line', 'close_position_line',
       'price_on_pledge', 'total_pledge_nb', 'total_share_ratio',
       'total_stock_ratio', 'close_position_date', 'is_st',
       'ContrshrProportion', 'IsRelatedTrading', 'ShareholderFirstProp',
       'ControlProportion', 'FamEntyp_1.0', 'FamEntyp_2.0', 'FamEntyp_3.0',
       'BoardCode_P3401', 'BoardCode_P3402', 'BoardCode_P3403', 'FamStyle_1',
       'FamStyle_2', 'ManGeneration_1.0', 'ManGeneration_2.0',
       'FamNameStatus_1', 'FamNameStatus_2', 'FamNameStatus_3',
       'FamNameStatus_4', 'FamNameStatus_5'],
      dtype='object')

In [12]:
test_merge.head()

,code,pledge_date,alarm_line,close_position_line,price_on_pledge,total_pledge_nb,total_share_ratio,total_stock_ratio,close_position_date,is_st,...,BoardCode_P3403,FamStyle_1,FamStyle_2,ManGeneration_1.0,ManGeneration_2.0,FamNameStatus_1,FamNameStatus_2,FamNameStatus_3,FamNameStatus_4,FamNameStatus_5
0,000034.SZ,2016-11-25,17.8048,15.5792,27.82,11223.00,72.5104,17.16,2018-06-19,0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
1,000046.SZ,2016-02-02,5.9100,5.1700,9.23,277068.83,80.0800,53.32,2018-07-04,0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
2,000046.SZ,2016-02-02,5.9100,5.1700,9.23,339517.71,97.5700,65.34,2018-07-04,0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
3,000056.SZ,2018-06-12,6.3600,5.5700,9.94,24216.59,98.1700,20.60,2018-12-14,0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
4,000056.SZ,2018-05-09,6.3900,5.5900,9.99,24117.47,97.7700,20.52,2018-12-06,0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0

In [21]:
test_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 0 to 980
Data columns (total 29 columns):
code                    981 non-null object
pledge_date             981 non-null datetime64[ns]
alarm_line              981 non-null float64
close_position_line     981 non-null float64
price_on_pledge         981 non-null float64
total_pledge_nb         981 non-null float64
total_share_ratio       981 non-null float64
total_stock_ratio       981 non-null float64
close_position_date     981 non-null datetime64[ns]
is_st                   981 non-null int64
ContrshrProportion      795 non-null float64
IsRelatedTrading        795 non-null float64
ShareholderFirstProp    795 non-null float64
ControlProportion       795 non-null float64
FamEntyp_1.0            795 non-null float64
FamEntyp_2.0            795 non-null float64
FamEntyp_3.0            795 non-null float64
BoardCode_P3401         795 non-null float64
BoardCode_P3402         795 non-null float64
BoardCode_P3403         795 non-null float64
FamStyle_1              795 non-null float64
FamStyle_2              795 non-null float64
ManGeneration_1.0       795 non-null float64
ManGeneration_2.0       795 non-null float64
FamNameStatus_1         795 non-null float64
FamNameStatus_2         795 non-null float64
FamNameStatus_3         795 non-null float64
FamNameStatus_4         795 non-null float64
FamNameStatus_5         795 non-null float64
dtypes: datetime64[ns](2), float64(25), int64(1), object(1)
memory usage: 269.9+ KB

In [22]:
test_merge = test_merge.fillna(0)

In [23]:
test_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 0 to 980
Data columns (total 29 columns):
code                    981 non-null object
pledge_date             981 non-null datetime64[ns]
alarm_line              981 non-null float64
close_position_line     981 non-null float64
price_on_pledge         981 non-null float64
total_pledge_nb         981 non-null float64
total_share_ratio       981 non-null float64
total_stock_ratio       981 non-null float64
close_position_date     981 non-null datetime64[ns]
is_st                   981 non-null int64
ContrshrProportion      981 non-null float64
IsRelatedTrading        981 non-null float64
ShareholderFirstProp    981 non-null float64
ControlProportion       981 non-null float64
FamEntyp_1.0            981 non-null float64
FamEntyp_2.0            981 non-null float64
FamEntyp_3.0            981 non-null float64
BoardCode_P3401         981 non-null float64
BoardCode_P3402         981 non-null float64
BoardCode_P3403         981 non-null float64
FamStyle_1              981 non-null float64
FamStyle_2              981 non-null float64
ManGeneration_1.0       981 non-null float64
ManGeneration_2.0       981 non-null float64
FamNameStatus_1         981 non-null float64
FamNameStatus_2         981 non-null float64
FamNameStatus_3         981 non-null float64
FamNameStatus_4         981 non-null float64
FamNameStatus_5         981 non-null float64
dtypes: datetime64[ns](2), float64(25), int64(1), object(1)
memory usage: 269.9+ KB